body {
    background: white;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
}

.banner {
    position: relative;
    text-align: center;
    color: white;
}

.name_banner {
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 30px;
    text-align: center;
}

.mid {
    padding-top: 3%;
    font-size: 28px;
    text-align: center;
    color:black;
}

.portfolio-items-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  
  .portfolio-item-wrapper {
    position: relative;
  }

  .portfolio-img-background {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 350px;
    width: 100%;
  }
  
  .img-text-wrapper {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
  }
  
  .img-text-wrapper .subtitle {
    transition: 1s;
    color: transparent;
  }

  .image-blur {
    transition: 1s;
    filter: brightness(10%);
  }
  
  .img-text-wrapper:hover .subtitle {
    color: white;
    font-weight: 600;
  }
  
  .logo-wrapper img {
    width: 25%;
    margin-bottom: 20px;
  }
  
  .two-column-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  
  .profile-image-wrapper img {
    width: 100%;
  }
  
  .profile-content-wrapper {
    padding: 30px;
  }
  
  .profile-content-wrapper h1 {
    color: white;
  }

  .creator {
      text-align: center;
      padding-top: 10%;
      padding-bottom: 0;
      color: black;
      font-size: 15px;
  }

  .logo-final img {
    width: 3%;
    margin-bottom: 2px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }